.app{
  display: flex;
}
.link{
  margin: 20px;
  
}
.active{
  text-decoration: none;
  color: white;
}
body{
  background-color: black;
}
.Images_Netflixorginal{
  display: flex;
  overflow-x: scroll;
}
.Images_Netflixorginal::-webkit-scrollbar{
  display: none;
}

img{
  margin: 10px;
  transition: all 1s;
}
img:hover{
  width: 300px;
  height: 350px;
}
.netflixorginal-heading{
  color: white;
}

